@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
@keyframes growLine {
  from {
    width: 0;
  }
  to {
    width: 60%;
  }
}
.line-animation {
  width: 0;
  animation: growLine 0.7s ease-out forwards;
}
.hidden-scrollbar::-webkit-scrollbar-thumb {
  display: none;
}

.hidden-scrollbar {
  scrollbar-width: none; /* Firefox */
}
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
